{
  "ecmaFeatures": {
    "jsx": true,
    "modules": true,
    "experimentalObjectRestSpread": true 
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true
  },
  "rules": {
    "indent": [2, 2, {"SwitchCase": 1}],
    "strict": 0,
    "no-underscore-dangle": 0,
    "quotes": [2, "single"],
    "key-spacing": [0],
    "eol-last": 1,
    "no-use-before-define": 0,
    "no-shadow": 0,
    "curly": 0,
    "no-multi-spaces": 0,
    "dot-notation": 0,
    "comma-dangle": 0,
    "constructor-super": 1
  }
}